:root {
  /* Color */
  --white-color : #fff;
  --black-color : #140a00;
  --blue-color : #045fd4;
  --red-color : #ff0000;
  --gray-dark-color : #909090;
  --gray-light-color : #e0e0e0;

  /* Size */
  --padding : 12px;
  --avatar-size :36px;
  /* Font size */
  --font-large :18px;
  --font-medium :14px;
  --font-small :12px;
  --font-micro :10px;
}
* {
  padding :0;
  margin : 0;
  box-sizing: border-box;
}
body {
  font-family: 'Roboto';
}
/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  background-color: var(--black-color);
  position: sticky;
  top: 0;
}
.header .title {
  display: flex;
  padding: var(--padding);
}
.header .title i {
  color: var(--red-color);
  font-size: var(--font-large);
}
.header .title a  {
  padding-left: var(--padding);
  font-size: var(--font-large);
}
.header .title a {
  color: var(--white-color);
  text-decoration: none;
}
.header .icons button {
  background-color: var(--black-color);
  border: none;
  cursor: pointer;
  padding: var(--padding);
  font-size: var(--font-large);
}
.header .icons i {
  color: var(--white-color);
}
/* VIDEO */
.video {
  text-align: center;
  background-color: var(--black-color);
  position: sticky;
  top:45px;
  z-index: 10000;
}
.video video {
  width: 100%;
  height: 100%;
  max-width: 1200px;
}
/* INFO */
body > .info {
  padding: var(--padding);
}
.info .hashtags {
  display: flex;
  font-size: var(--font-small);
  color: var(--blue-color);
  padding-bottom: 6px;
}
.info .hashtags li {
  padding-right: 6px;
}

.info  .titleAndButton {
  position: relative;
  font-size: var(--font-medium);
  padding-bottom: var(--padding);
}
.info  .titleAndButton .title {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;  
}
.info .titleAndButton .title.clamp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;  
}
.info .titleAndButton .moreBtn {
  position: absolute;
  right: 0;
  top: 0;
  background-color: #fff;
  border: none;
  cursor: pointer;
}
.info .views {
  font-size: var(--font-small);
  color: var(--gray-dark-color);
  padding-bottom: var(--padding);
}
.info .actions {
  display: flex;
  justify-content: space-around;
  margin: var(--padding) 0 ;
}
.info .actions li button {
  display: flex;
  flex-direction: column;
  border: none;
  outline:none;
  background-color: #fff; 
  color: var(--gray-dark-color);
}
.info .actions li button i {
  margin: 0 auto;
  margin-bottom: calc( var(--padding) / 2 );
  font-size: 16px;
}
.info .actions li button span {
  font-size: var(--font-small);
}
.info .actions i.active {
  color: var(--blue-color);
}
/* CHANNEL */
.channel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid var(--gray-light-color);
  border-bottom: 1px solid var(--gray-light-color);
}
.channel .metadata {
  display: flex;
  margin: var(--padding) 0;
  align-items: center;
}
.channel .metadata img {
  width: var(--avatar-size);
  height: var(--avatar-size);
  border-radius: 50%;
}
.channel .metadata .info {
  display: flex;
  flex-direction: column;
}
.channel .metadata .info .name {
  font-size: var(--font-medium);

}
.channel .metadata .info .subscribers {
  font-size: var(--font-micro);
  margin-top: 2px;
  color: var(--gray-dark-color);
}
.channel .subscribe {
  border:none; 
  background-color: #FFF;
  text-transform: uppercase;
  font-size: var(--font-small);
  color: var(--red-color);
}
/* UP NEXT */
.upnext {
  padding: 0 var(--padding);
}
.upnext > .title {
  font-size: var(--font-medium);
  color: var(--gray-dark-color);
  margin-bottom: 6px;
}
.upnext .items {
  display: flex;
  margin-bottom: 6px;
}
.upnext .items .img img {
  width: 100%;
  height: 110px;
}
.upnext li.items .img {
  flex: 1 1 35%;
}
.upnext li.items .info {
  flex: 1 1 60%;
  display: flex;
  flex-direction: column;
  margin-left: 6px;
}
.upnext li.items .moreBtn {
  flex: 1 1 5%;
}
.upnext li.items .info .title {
  font-size: var(--font-medium);
  padding-bottom: 2px;
}
.upnext li.items .info .name {
  font-size: var(--font-small);
  padding-bottom: 2px;
}
.upnext li.items .info .views {
  font-size: var(--font-micro);
}
.upnext .items .moreBtn {
  border: none;
  background-color: #fff;
  position: relative;
  text-align: center;
}
.upnext .items .moreBtn i {
  position: absolute;
  top: 30px;
}
.infoAndUpnext {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .infoAndUpnext {
    flex-direction: row;
  }
  .infoAndUpnext .info {
    flex-grow: 50%;
  }
  .infoAndUpnext .upnext {
    flex-grow: 50%;
  }
}